.component{
  min-height: 100vh;
  padding-top: 60px;
  background: #fdf6fb;
  &__title {
    @include font_default(18px, 700, $text_primary);
    text-align: center;
  }
  &__list {
    padding: 20px
  }

  &__lst {
    display: flex;
    width: 100%;
    height: 48px;
    line-height: 48px;
    margin-bottom: 16px;
    padding: 0 16px;
    border-radius: 8px;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    box-sizing: border-box;
    text-transform: uppercase;
    & a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  &__txt {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }
}
.component__group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 16px 20px;
  margin: 0 20px;
  border-radius: 20px;
  background-color: $btn_white;
  box-shadow: 0 0 18px rgba(0,0,0,.2);
}
.component__space {
  width: 100%;
  margin-bottom: 16px;
}
