.price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &__discount {
    @include font_default(11px, 400, $point_blue);
  }
  &__txt {
    padding-left: 4px;
    @include font_default(16px, 700, $text_primary);
  }
  &__date {
    padding-left: 4px;
    @include font_default(11px, 400, $text_secondary)
  }
}
