/* ================ text-color ================ */
$text_primary: #333;
$text_secondary: #aeaeae;
$text_tertiary: #424242;
$text_disable: #e6e6e6;
$text_white: #fff;
$text_neutral: #9b9b9b;

/* ================ border-color ================ */
$border_default: #e3e3e4;
$border_thin: #ccc;

/* ================ btn-color ================ */
$btn_primary: #000;
$btn_secondary: #e6e6e6;
$btn_info: #ffd600;
$btn_point: #fee1a6;
$btn_point_rcmd: #fff42e;
$btn_off: #e0e0e0;
$btn_inactive: #f7f7f7;
$btn_white: #fff;

/* ================ point-color ================ */
$point_blue: #5489ee;
$point_green: #06bb79;
$point_pink: #e973df;
$point_orange: #f57500;
$point_gradient: linear-gradient(to right, #396bee, #ab73f3);

