@font-face { font-weight: 900;
	font-family: 'NotoSansKR';
	src: url('~/assets/fonts/font/NotoSansCJKkr-Black.otf') format('woff2');
}

@font-face { font-weight: 700;
	font-family: 'NotoSansKR';
	src: url('~/assets/fonts/font/NotoSansCJKkr-Bold.otf') format('woff2');
}

@font-face { font-weight: 500;
	font-family: 'NotoSansKR';
	src: url('~/assets/fonts/font/NotoSansCJKkr-Medium.otf') format('woff2');
}

@font-face { font-weight: 400;
	font-family: 'NotoSansKR';
	src: url('~/assets/fonts/font/NotoSansCJKkr-Regular.otf') format('woff2');
}

@font-face { font-weight: 350;
	font-family: 'NotoSansKR';
	src: url('~/assets/fonts/font/NotoSansCJKkr-DemiLight.otf') format('woff2');
}

@font-face { font-weight: 300;
	font-family: 'NotoSansKR';
	src: url('~/assets/fonts/font/NotoSansCJKkr-Light.otf') format('woff2');
}

@font-face { font-weight: 250;
	font-family: 'NotoSansKR';
	src: url('~/assets/fonts/font/NotoSansCJKkr-Thin.otf') format('woff2');
}
